.custom-navbar {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Contenedor para los íconos y el correo */
.social-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Íconos dentro de un círculo */
.social-icons {
  display: flex;
  gap: 8px;
}

.icon {
  background-color: rgb(13, 228, 207);
  color: white;
  border-radius: 50%; /* Hace el círculo */
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
}

.icon:hover {
  transform: scale(1.1);
  background-color: white;
  color: rgb(13, 228, 207);
}

/* Estilo del correo */
.email-link {
  margin-top: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  color: rgb(13, 228, 207);
  text-decoration: none;
}

.email-link:hover {
  text-decoration: none;
  color: rgb(10, 186, 168);
}

/* Texto debajo del correo */
.clinic-location {
  font-size: 0.8rem;
  margin-top: 5px;
  margin-bottom: 0;
}
.clinic-number {
  margin-bottom: 0;
  margin-top: 5px;
}
@media (max-width: 768px) {
  /* Para pantallas pequeñas (teléfonos) */
  .navbar .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .navbar-brand {
    margin-bottom: 10px; /* Espacio entre el logo y los íconos sociales */
  }
}
