.homepage-container {
  padding: 60px;
  text-align: center;
}
.homepage-container h1 {
  font-size: 3rem;
  color: #404040;
  margin-top: -5px;
  font-weight: 90;
}
.image {
  max-width: 100%;
  border-radius: 8px;
}

.description {
  font-size: 1.2em;
  margin-left: 20px; /* Añadir espacio entre texto e imagen */
}

/* Disposición imagen a la izquierda y texto a la derecha */
